body{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
   
}
/* Corpo dei css riferiti all'immagine dell'articolo */
.container{
    width: 80%;
    margin: auto;
}

.row img{
    height: 500px;
}
/* Dimensionamento immagine e tag al suo interno */
.product{
    height: 500px;
    position: relative;
    display: inline-block;
}

/* Inizio sconti dell'articolo e classificazione della qualità dell'articolo */

.product .discount{
    position: absolute;
    left: 0;
    bottom: 20px;
    background-color: rgb(255,0,0);
    color: rgb(255, 255, 255);
    padding: 3px;
    padding-right: 3px;
    font-weight: 600;
    

}

.product .tag{
    position: absolute;
    left: 50px;
    bottom: 20px;
    background-color: rgb(0, 128, 0);
    color: rgb(255, 255, 255);
    padding: 3px;
    font-weight: 600;
}

/*  Fine sconti dell'articolo e classificazione della qualità dell'articolo */

.product .heart {
    position: absolute;
    right: 0;
    top: 20px;
    background-color:rgb(255, 255, 255);
    padding: 15px;
    font-size: 20px; 
}

/* Cambio di immagina con hover sull'articolo */


/*  Fine dimensionamento immagine e tag al suo interno */



/* Descrizione posta sotto alla foto dell'articolo */

.description {
    margin-top: 5px;
}

.description .marca{
    color: rgb(22, 22, 22);
}
.description .name-article{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
}

.description .prezzo{
    font-size: 12px;
    
}

.description .sconto{
    color: rgb(255,0,0);
    font-weight: 600;
    margin-right: 3px;
}

.description .prezzo-originale{
    text-decoration: line-through;
}

/* Fine della descrizione posta sotto la foto dell'articolo */