body{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
   
}
/* Corpo dei css riferiti all'immagine dell'articolo */
.container{
    width:50%;
    margin: auto;
}

.row img{
    height: 300px;
    margin-right: 10px;
}
/* Dimensionamento immagine e tag al suo interno */
.product{
    height: 300px;
    position: relative;
    display: inline-block;
    margin-bottom: 100px;
}

/* Inizio sconti dell'articolo e classificazione della qualità dell'articolo */

.product .discount{
    position: absolute;
    left: 0;
    bottom: 20px;
    background-color: rgb(255,0,0);
    color: rgb(255, 255, 255);
    padding: 3px;
    
    font-weight: 600;
    font-size: 10px;
    

}

/* Immagini dei prodotti con hover */

.product .first-img{
    position: absolute;
    
    
}

.product .second-img{
    display: none;
    position: absolute;
    top: 0;
}

.product:hover .second-img{
    display: block;
}

/* fine immagini dei prodotti */

.product .tag{
    position: absolute;
    left: 32px;
    bottom: 20px;
    background-color: rgb(0, 128, 0);
    color: rgb(255, 255, 255);
    padding: 3px;
    font-weight: 600;
    font-size: 10px;
}

.product .tag-2{
    position: absolute;
    left: 0;
    bottom: 20px;
    background-color: rgb(0, 128, 0);
    color: rgb(255, 255, 255);
    padding: 3px;
    font-weight: 600;
    font-size: 10px;
}

/*  Fine sconti dell'articolo e classificazione della qualità dell'articolo */

.product .heart {
    position: absolute;
    right: 0;
    top: 20px;
    background-color:rgb(255, 255, 255);
    padding: 15px;
    font-size: 20px; 
}

/* Cambio di immagina con hover sull'articolo */


/*  Fine dimensionamento immagine e tag al suo interno */



/* Descrizione posta sotto alla foto dell'articolo */

.description {
    margin-top: 5px;
}

.description .marca{
    font-size: 14px;
    color: rgb(22, 22, 22);
}
.description .name-article{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
}

.description .prezzo{
    font-size: 12px;
    
}

.description .sconto{
    color: rgb(255,0,0);
    font-weight: 600;
    margin-right: 3px;
}

.description .prezzo-originale{
    text-decoration: line-through;
}

/* Fine della descrizione posta sotto la foto dell'articolo */

